* {
    box-sizing: border-box;
}

html, body {
    margin: 0; 
    padding: 0;
  }

.main-page {
  width: 100%;
  height: 1024px;
  background: url('images/background.jpg') center center/cover no-repeat;
}

.menu {
  position: relative;
  display: flex;
  padding: 24px 110px;
  justify-content: space-between;
}

.menu .logo {
  width: 36px;
  height: 29px;
}

.menu .menu-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 525px;
  height: 30px;
}

.menu-list a {
  text-decoration: none;
  color: black;
}

.menu .menu-list .menu-list-item {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.profile-wrapper {
  position: relative;
}

.profile-wrapper .basket {
  position: absolute;
  top: 18px;
  width: 17px;
  height: 15px;
}

.profile-wrapper .profile {
  position: relative;
  left: 50px;
  bottom: 20px;
}

.pre-header {
  margin-left: 410px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #EB5757;
}

.header {
  margin-left: 410px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 69px;
  color: #3F3631
}

.descr {
  margin-left: 410px;
  width: 495px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 145%;
  color: #9C8E76;
}

.top {
  margin-left: 410px;
  margin-top: 50px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #828282;
}

.mocha-late, .iced-coffee, .caramel-frappe, .coffee-bag, .double-espresso {
  position: relative;
  margin-top: 250px;
  transition: 0.2s linear;
}

.mocha-late:hover, .iced-coffee:hover, .caramel-frappe:hover, .coffee-bag:hover, .double-espresso:hover {
  right: 2px;
  box-shadow: 0 15px 15px -10px rgba(0,0,0, .5);
}

.mocha-late-img {
  position: absolute;
  width: 232px;
  height: 312px;
  bottom: 141px;
  right: 0px;
}

.mocha-late-img:hover {
  cursor: pointer;
}

.pack-block {
  width: 217px;
  height: 259px;
  background: #FFFFFF;
  box-shadow: 2px 10px 40px rgba(45, 65, 102, 0.1);
  border-radius: 10px;  
}

.pack-header {
  position: relative;
  top: 133px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #3F3631;
}

.pack-descr {
  position: relative;
  margin: 0 auto;
  top: 136px;
  width: 189px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 145%;
  text-align: center;
  color: #9C8E76;
}

.pack-price {
  display: none;
}

.packs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pack-image {
  position: absolute;
  width: 232px;
  height: 312px;
  bottom: 141px;
  right: 0px;
}

.iced-coffee-img:hover, .caramel-frappe-img:hover, .coffee-bag-img:hover, .double-espresso-img:hover {
cursor: pointer;
}

.animated-head {
  animation-duration: 1.5s;
  animation-name: emersion;
}

@keyframes emersion {
  from {
    margin-left: -150px;
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.active-block {
  width: 287px;
  height: 299px;
}

.active-img {
  width: 272px;
  height: 352px;
  bottom: 171px;
}

.active-header {
  font-size: 22px;
}

.active-descr {
  top: 140px;
  font-size: 14px;
}

.active-price {
  display: block;
  position: relative;
  bottom: -145px;
  right: -225px;
  font-size: 14px;
  color:#3F3631;
}

.smooth {
  animation-name: smoothy-image;
  animation-duration: 0.5s;
}

@keyframes smoothy-image {
  from {
    width: 232px;
    height: 312px;
  }
  to {
    width: 272px;
    height: 352px;
  }
}


















